{% extends 'base.html' %}
{% block content %}
<h1>{{ event.name }}</h1>

<p><strong>Description:</strong> {{ event.desc}}</p>
<p><strong>Venue:</strong> {{ event.venue}}</p>
<p><strong>Start:</strong> {{ event.start}}</p>
<p><strong>End:</strong> {{ event.end}}</p>
<p><strong>Sponsored:</strong> {{ event.sponsored}}</p>
<p><strong>Posted By:</strong> {{ event.posted_by}}</p>
<p><strong>Categories:</strong>
	{% for category in event.category.all %}
	{{ category }}, 
	{% endfor %}
</p>
	


{% if request.user not in event.users.all %}
<p><a class="btn btn-info" href="{% url 'going to event' pk=event.id %}">Are you going to {{ event.name }}?</a></p>
{% endif %}

<h2>People going to {{ event.name }}</h2>
{% if not event.users.all %}
<p>Noone's going to this event yet. Be the first!</p>
{% endif %}
<ul>
	{% for user in event.users.all %}
	<li><a href="{% url 'view profile' pk=user.id %}">{{ user.username }}</a></li>
	{% endfor %}
</ul>
{% endblock %}