{% extends 'base.html' %}
{% block content %}
	<h1><center>{{ user.username }}'s Profile</center></h1>
	<center><strong>Username:</strong> {{ user.username }}</center>
	<center><strong>Email:</strong> {{ user.email }}</center>

	<h1><center>{{ user.username }}'s Created Events</center></h1>
	{% for event in created_events %}
	<p><center><a href="{% url 'view event' pk=event.id %}">{{ event.name }}</a></center></p>
	{% endfor %}

	{% if not created_events %}
	<p><center>You haven't created any events. Click <a href="{% url 'create event' %}">here</a> to create one!</center></p>
	{% endif %}

	<h1><center>{{ user.username }} Is Going To</center></h1>
	{% for event in events %}
	<p><center><a href="{% url 'view event' pk=event.id %}">{{ event.name }}</a></center></p>
	{% endfor %}

	{% if not events %}
	<p><center>You don't have any upcoming events. Click <a href="{% url 'index' %}">here</a> to check out the events!</center></p>
	{% endif %}
	
{% endblock %}